body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupa pelo menos toda a altura da tela */
}


header {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;

    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    height: 25vh; 
}


.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo img {
    height: 40px; 
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.2em; 
}

/* Conteúdo principal da calculadora */
main {
    padding: 20px;
    max-width: 800px;
    margin: 30px auto; 
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    flex-grow: 1; 
}

.calculator-section {
    text-align: center;
}

.calculator-form input,
.calculator-form select,
.calculator-form button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.calculator-form button {
    background-color: #8a2be2; 
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.calculator-form button:hover {
    background-color: #6a0dad;
}

.result-area {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9e9e9;
    border-radius: 4px;
    text-align: left;
}

#resultDisplay {
    font-weight: bold;
    color: #007bff; 
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: auto; 
    background-color: rgba(51, 51, 51, 0.8); 
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.file-results-section {
    margin-top: 40px;
    text-align: center;
}

#fileResultsDisplay ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#fileResultsDisplay li {
    background-color: #f0f0f0;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}