.vscode
datasets/
__pycache__/
logs/
.dat
venv
node_modules/
**/resultados/
apps/python-service/BioMolExplorer/resultados/
# Desktop temporary files, dependencies and builds
apps/desktop/teste-desktop/
apps/desktop/wrapper/dist/
apps/desktop/wrapper/node_modules/
apps/desktop/BioMolExplorer-Launcher/*.tar
apps/desktop/BioMolExplorer-Launcher-*.zip
apps/desktop/BioMolExplorer-Launcher-linux
