/* --- FORM --- */
#pdb-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* INPUTS AND SELECTS STYLES */
input[type="text"],
input[type="number"],
select {
    padding: 0.8rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

/* --- BioMolExplorer layout --- */
.form-container {
    flex: 1;
}

/* --- PDBs LIST --- */
.pdb-list-container {
    margin-top: 2rem;
}

.collapsible-header {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.collapsible-header:hover {
    background-color: var(--primary-hover-color);
}

.collapsible-header.active {
    background-color: #ccc;
}

.collapsible-header .arrow {
    transition: transform 0.3s;
    margin-right: 10px;
}

.collapsible-header.active .arrow {
    transform: rotate(90deg);
}

.pdb-file-list {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    list-style-type: none;
}

.pdb-file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.delete-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2em;
    color: #c0392b;
    transition: color 0.2s;
}

.delete-btn:hover {
    color: #e74c3c;
}

/* EMPTY LIST */
.empty-list-message {
    text-align: center;
    color: #888;
    padding: 20px;
}

/* DELETE MESSAGE */
.alert-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #228B22;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1050;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert-notification.show {
    opacity: 1;
    transform: translateX(0);

}