/* --- GERAL --- */
:root {
    --primary-color: #47366d;
    --primary-hover-color: #9686de;
    --background-color: #f4f7f6;
    --form-background: #ffffff;
    --text-color: #333;
    --border-color: #ccc;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --success-color: #28a745;
    --error-color: #dc3545;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* --- CABEÇALHO --- */

.main-header {
    position: relative;
    width: 100%;
    background-color: #47366d;
    padding-bottom: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    height: 80px;
}

.header-logo {
    height: 70px;
    width: auto;
    margin-right: 20px;
}

.header-content h1 {
    margin: 0;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* --- Estilo da barra de navegação ---- */
.main-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #705d9d;
    backdrop-filter: blur(5px);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease-out, opacity 0.3s ease-in-out;
}

/* Efeito quando o mouse passa sobre header */
.main-header:hover .main-nav {
    max-height: 100px;
    opacity: 1;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.main-nav ul li a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.main-nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Destaque sutil ao passar o mouse */
}


/* --- CONTAINER PRINCIPAL --- */
.container {
    background-color: var(--form-background);
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px var(--shadow-color);
    margin-top: 2rem;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

/* --- Seção de boas vindas --- */
.welcome-section {
    text-align: center;
    padding: 20px 0;
}

.welcome-section h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333;
}

.welcome-section p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
}